<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataAnalysis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7B774AD20EB68F6004F9D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B774C520EB68F8004F9D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B774D020EB68F8004F9D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
